/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Teko:wght@600&display=swap");@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* VARIABLES */
:root {
  --primary-color: rgb(39, 71, 233);
  --dark-color: black;
  --gray-color: gray;
  --fonts: "Bebas Neue", sans-serif;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}
/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body {
    overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* GLOBAL CSS */
section {
  padding: 70px 0;
}

section .section-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px 2px white;
}

.btn-blue {
  background-color: var(--primary-color);
  color: white;
}

.btn-dark {
  background-color: var(--dark-color);
  color: white;
}

.text-blue {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

/* MAIN STYLE */

body {
  background-size: cover;
  height: max-content;
  background-color: antiquewhite;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #261970;
}

.navbar .container .navbar-brand {
  color: white;
  text-shadow: 0 3px 10px var(--primary-color);
  font-size: 60px;
  font-family: "Teko", sans-serif;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--primary-color);
}

.navbar .nav-item .nav-link {
  color: #ffffff;
}

.navbar button {
  background-color: rgb(3, 3, 134);
}



/* sider */
.carousel-item {
  height: 95vh;
  width: 100%;
}




/* Home */
.header-section {
  padding-top: 180px;
}

.header-section .header-title {
  font-size: var(--h1-font-size);
  font-family: "Teko", sans-serif;
}

.header-section .header-skill {
  color: var(--dark-color);
}

.header-section .header-skill:hover {
  /* color: var(--primary-color); */
  color: #ffffff;
}

.header-section .header-skill i {
  transition: 0.3s;
}

.header-section .header-skill:hover i {
  transform: rotate(-45deg);
}

.header-section .header-img {
  width: 100%;
  border-radius: 50px;
}

/* ABOUT */

.about-section {
  padding-top: 140px;
  display: flex;
  align-items: center;
  position: relative;
  background-color:aliceblue;
}

.about-section h1 {
  position: absolute;
  top: 0;
  left: 47%;
}

.about-section img {
  border-radius: 20px;
}


/* Menu */
.menu-section .card {
  border: 0;
}

.menu-section {
  padding-top: 140px;
  width: 100%;
  height: 100vh;
}

#menu img {
  width: 400px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.menu-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  font-size: 40px;
}

.card img {
  width: 100%;
  height: 100%;
}

/* CONTACT */
/* .contact-section .row .maps {
  background-size: cover;
} */

/* Footer */
.footer .card {
  border: 0;
}

/* Support */

.support {
  width: 100%;
  height: 40vh;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support h1, h2 {
  font-family: var(--fonts);
}

.support h1 {
  font-size: 1rem;
  letter-spacing: 12px;
  color: tomato;
}

.support h2 {
  font-size: 3.5rem;
}
