/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/paket1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 600px;
  height: 640px;
  margin-top: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 60px;
}

.form-box h2 {
  font-size: 2em;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgb(8, 33, 191);
  font-weight: 600;
}

.ingat {
  font-size: 0.9em;
  color: rgb(8, 33, 191);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.ingat a {
  color: rgb(8, 33, 191);
  text-decoration: none;
}

.ingat a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: rgb(8, 33, 191);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.login-register {
  margin-top: 10px;
}

.login-register p {
  text-decoration: none;
  color: white;
}
